@{
    ViewBag.Title = "ICMR Case Studies | Real-life Business Examples for Management Education";
    ViewBag.MetaDescription = "Explore a wide range of ICMR case studies to gain insights into real-life business scenarios. These case studies are designed to help management students develop critical thinking and problem-solving skills";
    ViewBag.MetaKeywords = "business management case studies, free management case studies, management case studies with solutions, download free business case studies, short case studies in management, free business case studies PDF";


    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Url = "icmr-case-studies";
}

<section class="Common-Section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                <div class="breadcrumbs pb-0" data-aos="fade-up">
                    <ol>
                        <li><a href="~/">Home</a></li>
                        <li>Case Collection</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ListCases" data-aos="fade-up">
    <div class="container">
        <div class="bg3 p-4 rounded-4">
            <div class="row">
                <div class=" col-12">
                    <a name="campact"><h3>Case lite</h3></a>

                    <p class="text-justify">
                        These are very short (3 or 4 pages) case studies, essentially covering one
                        issue or topic. These can
                        be used in classroom and other situations where the time available for case preparation is limited. Short
                        cases, or caselets, are
                        increasingly used as teaching aids, both in B-Schools and in executive education programs. Being brief and
                        focused on a specific
                        topic, a caselet is a useful supplement to a lecture. The session plan for a B-School course is likely to
                        be more effective when
                        there is a balanced mix of cases and caselets, along with other pedagogical tools.
                    </p>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-xl-12 col-lg-12 col-12">
                            <div class="bg-white rounded-4 p-3">
                                <div class="wraper">
                                    <a class="text-dark text-wrapper" href="@Url.Action("CaseStudies", "Home", new { category = "Case lite" })">

                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/BENV.png" alt="Business Environment" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Case lite  <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<section class="ListCases" data-aos="fade-up">
    <div class="container">
        <div class="bg3 p-4 rounded-4">
            <div class="row">
                <div class=" col-12">
                    <a name="campact"><h3>Compact Cases</h3></a>

                    <p class="text-justify">
                        These are very short (3 or 4 pages) case studies, essentially covering one
                        issue or topic. These can
                        be used in classroom and other situations where the time available for case preparation is limited. Short
                        cases, or caselets, are
                        increasingly used as teaching aids, both in B-Schools and in executive education programs. Being brief and
                        focused on a specific
                        topic, a caselet is a useful supplement to a lecture. The session plan for a B-School course is likely to
                        be more effective when
                        there is a balanced mix of cases and caselets, along with other pedagogical tools.
                    </p>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-xl-12 col-lg-12 col-12">
                            <div class="bg-white rounded-4 p-3">
                                <div class="wraper">
                                    <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "Business Environment" })">

                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/BENV.png" alt="Business Environment" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Business Environment  <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "Business Ethics" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/BECG.png" alt="Business Ethics" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Business Ethics  <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "Business Strategy" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/BSTR.png" alt="Business Strategy" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Business Strategy  <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "Consumer Behavior" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/CM.png" alt="Consumer Behavior" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Consumer Behavior  <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "Economics" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/ECON.png" alt="Economics" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Economics  <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "Finance" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/FINC.png" alt="Finance" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Finance  <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "Human Resource Management" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/HROB.png" alt="Human Resource Management" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Human Resource Management  <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "Industrial Marketing" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/IM.png" alt="Industrial Marketing" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Industrial Marketing  <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "International Marketing" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/INM.png" alt="International Marketing" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">International Marketing  <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "IT and Systems" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/ITSY.png" alt="IT and Systems" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">IT and Systems  <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "Marketing Communications" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/MC.png" alt="Marketing Communications" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Marketing Communications  <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "Marketing Management" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/MKTG.png" alt="Marketing Management" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Marketing Management <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "Operations" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/OPER.png" alt="Operations" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Operations<i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    @*<a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "Miscellaneous" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/MR.png" alt="Miscellaneous" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Miscellaneous<i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>*@
                                    <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "Sales and Distribution Management" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/DBM.png" alt="Sales and Distribution Management" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Sales and Distribution Management<i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "Services Marketing" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/SVM.png" alt="Services Marketing" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Services Marketing  <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<section class="ListCases" data-aos="fade-up">
    <div class="container">
        <div class="bg7 p-4 rounded-4">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    @*<div class="Title-Heading">
                        <h2 class="">
                            Case Studies in Business, Management
                        </h2>
                    </div>
                    <p class="text-justify">
                        Representing a broad range of management subjects, the ICMR Case Collection
                        provides teachers,
                        corporate trainers, and management professionals with a variety of teaching and reference material. The
                        collection consists of
                        case studies and research reports on a wide range of companies and industries - both Indian and
                        international. The collection
                        contains several kinds of case studies:
                    </p>*@
                    <a name="full"><h3>Full Cases</h3></a>
                    <p class="text-justify">
                        Our case studies are usually between 10 and 20 pages long, and are written
                        from an industry or
                        company perspective, rather than from the perspective of an individual decision maker. In addition to
                        training, these case studies
                        are useful if you require information on industries, or on companies and their strategies. If you require
                        multiple copies of the
                        case studies for classroom use, please purchase a license to make the number of copies required, from the
                        site. We will then e-mail
                        a clean copy of the pdf file (without the 'Do Not Copy' watermark) to you, so that you can make the number
                        of copies required.
                    </p>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-xl-12 col-lg-12 col-12">
                            <div class="bg-white rounded-4 p-3">
                                <div class="wraper">
                                    <a class="text-dark text-wrapper" href="@Url.Action("CaseStudies", "Home", new { category = "Business Environment" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/BENV.png" alt="Business Environment" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Business Environment  <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>

                                    <a class="text-dark text-wrapper" href="@Url.Action("CaseStudies", "Home", new { category = "Business Ethics" })">

                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/BECG.png" alt="Business Ethics" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Business Ethics <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    @*<a class="text-dark text-wrapper" href="@Url.Action("CaseStudies", "Home", new { category = "Business Reports" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/BREP.png" alt="Business Reports" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Business Reports <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>*@
                                    <a class="text-dark text-wrapper" href="@Url.Action("CaseStudies", "Home", new { category = "Business Strategy" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/BSTR.png" alt="Business Strategy" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Business Strategy<i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    <a class="text-dark text-wrapper" href="@Url.Action("CaseStudies", "Home", new { category = "Corporate Governance" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/CG.png" alt="Corporate Governance" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Corporate Governance  <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    <a class="text-dark text-wrapper" href="@Url.Action("CaseStudies", "Home", new { category = "Disaster Management" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/DM.png" alt="Disaster Management" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Disaster Management  <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    <a class="text-dark text-wrapper" href="@Url.Action("CaseStudies", "Home", new { category = "Economics" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/ECON.png" alt="Economics" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Economics <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    <a class="text-dark text-wrapper" href="@Url.Action("CaseStudies", "Home", new { category = "Enterprise Risk Management" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/RE.png" alt="Enterprise Risk Management" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Enterprise Risk Management <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    <a class="text-dark text-wrapper" href="@Url.Action("CaseStudies", "Home", new { category = "Family Business Management" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/FB.png" alt="Family Business Management" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Family Business Management <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    <a class="text-dark text-wrapper" href="@Url.Action("CaseStudies", "Home", new { category = "Finance" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/FINC.png" alt="Finance" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Finance <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    <a class="text-dark text-wrapper" href="@Url.Action("CaseStudies", "Home", new { category = "Human Resource and Organization Behavior" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/HROB.png" alt="Human Resource and Organization Behavior" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Human Resource and Organization Behavior  <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    <a class="text-dark text-wrapper" href="@Url.Action("CaseStudies", "Home", new { category = "Innovation" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/IN.png" alt="Innovation" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Innovation <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    <a class="text-dark text-wrapper" href="@Url.Action("CaseStudies", "Home", new { category = "Insurance" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/INS.png" alt="Insurance" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Insurance  <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    <a class="text-dark text-wrapper" href="@Url.Action("CaseStudies", "Home", new { category = "IT and Systems" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/ITSY.png" alt="IT and Systems" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">IT and Systems <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    <a class="text-dark text-wrapper" href="@Url.Action("CaseStudies", "Home", new { category = "Law" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/LW.png" alt="Law" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Law<i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    <a class="text-dark text-wrapper" href="@Url.Action("CaseStudies", "Home", new { category = "Leadership and Entrepreneurship" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/LDEN.png" alt="Leadership and Entrepreneurship" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Leadership and Entrepreneurship<i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    <a class="text-dark text-wrapper" href="@Url.Action("CaseStudies", "Home", new { category = "Marketing" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/MKTG.png" alt="Marketing" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Marketing <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    <a class="text-dark text-wrapper" href="@Url.Action("CaseStudies", "Home", new { category = "Miscellaneous" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/MR.png" alt="Miscellaneous" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Miscellaneous <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    <a class="text-dark text-wrapper" href="@Url.Action("CaseStudies", "Home", new { category = "Operations" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/OPER.png" alt="Operations" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Operations<i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    <a class="text-dark text-wrapper" href="@Url.Action("CaseStudies", "Home", new { category = "Project Management" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/PR.png" alt="Project Management" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Project Management <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                    @*<a class="text-dark text-wrapper" href="@Url.Action("CaseStudies", "Home", new { category = "Simplified Case Studies" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/SM.png" alt="Simplified Case Studies" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Simplified Case Studies<i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>*@
                                    @*<a class="text-dark text-wrapper" href="@Url.Action("CaseStudies", "Home", new { category = "Women Empowerment" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/WM.png" alt="Women Empowerment" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Women Empowerment <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>*@
                                    <a class="text-dark text-wrapper" href="@Url.Action("CaseStudies", "Home", new { category = "CSR and Sustainability" })">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/CSR.png" alt="CSR and Sustainability" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">CSR and Sustainability <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            @*<h3>Short Case Studies</h3>

                                <div class="bg-white rounded-4 p-3 mb-3">
                                    <div class="wraper">
                                        <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "Business Environment" })">
                                            <div class="item d-flex align-items-center">
                                                <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                    <img src="~/assets/img/case-study/BENV.png" alt="Business Environment" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                                </div>
                                                <div class="d-flex align-items-center">Business Environment <i class="bi bi-arrow-up-right ms-2"></i></div>
                                            </div>
                                        </a>

                                        <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "Business Ethics" })">
                                            <div class="item d-flex align-items-center">
                                                <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                    <img src="~/assets/img/case-study/BECG.png" alt="Business Ethics" class="img-fluid rounded" width="30" height="30" loading="lazy">
                                                </div>
                                                <div class="d-flex align-items-center">Business Ethics <i class="bi bi-arrow-up-right ms-2"></i></div>
                                            </div>
                                        </a>

                                        <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "Consumer Behavior" })">
                                            <div class="item d-flex align-items-center">
                                                <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                    <img src="~/assets/img/case-study/CM.png" alt="Consumer Behavior" class="img-fluid rounded" width="30" height="30" loading="lazy">
                                                </div>
                                                <div class="d-flex align-items-center">Consumer Behavior <i class="bi bi-arrow-up-right ms-2"></i></div>
                                            </div>
                                        </a>

                                        <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "Human Resource Management" })">
                                            <div class="item d-flex align-items-center">
                                                <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                    <img src="~/assets/img/case-study/HROB.png" alt="Human Resource Management" class="img-fluid rounded" width="30" height="30" loading="lazy">
                                                </div>
                                                <div class="d-flex align-items-center">Human Resource Management <i class="bi bi-arrow-up-right ms-2"></i></div>
                                            </div>
                                        </a>

                                        <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "Industrial Marketing" })">
                                            <div class="item d-flex align-items-center">
                                                <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                    <img src="~/assets/img/case-study/IM.png" alt="Industrial Marketing" class="img-fluid rounded" width="30" height="30" loading="lazy">
                                                </div>
                                                <div class="d-flex align-items-center">Industrial Marketing <i class="bi bi-arrow-up-right ms-2"></i></div>
                                            </div>
                                        </a>

                                        <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "International Marketing" })">
                                            <div class="item d-flex align-items-center">
                                                <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                    <img src="~/assets/img/case-study/INM.png" alt="International Marketing" class="img-fluid rounded" width="30" height="30" loading="lazy">
                                                </div>
                                                <div class="d-flex align-items-center">International Marketing <i class="bi bi-arrow-up-right ms-2"></i></div>
                                            </div>
                                        </a>

                                        <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "IT and Systems" })">
                                            <div class="item d-flex align-items-center">
                                                <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                    <img src="~/assets/img/case-study/ITSY.png" alt="IT and Systems" class="img-fluid rounded" width="30" height="30" loading="lazy">
                                                </div>
                                                <div class="d-flex align-items-center">IT and Systems <i class="bi bi-arrow-up-right ms-2"></i></div>
                                            </div>
                                        </a>

                                        <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "Marketing Communications" })">
                                            <div class="item d-flex align-items-center">
                                                <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                    <img src="~/assets/img/case-study/MC.png" alt="Marketing Communications" class="img-fluid rounded" width="30" height="30" loading="lazy">
                                                </div>
                                                <div class="d-flex align-items-center">Marketing Communications <i class="bi bi-arrow-up-right ms-2"></i></div>
                                            </div>
                                        </a>

                                        <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "Marketing Management" })">
                                            <div class="item d-flex align-items-center">
                                                <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                    <img src="~/assets/img/case-study/MKTG.png" alt="Marketing Management" class="img-fluid rounded" width="30" height="30" loading="lazy">
                                                </div>
                                                <div class="d-flex align-items-center">Marketing Management <i class="bi bi-arrow-up-right ms-2"></i></div>
                                            </div>
                                        </a>

                                        <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "Operations" })">
                                            <div class="item d-flex align-items-center">
                                                <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                    <img src="~/assets/img/case-study/OPER.png" alt="Operations" class="img-fluid rounded" width="30" height="30" loading="lazy">
                                                </div>
                                                <div class="d-flex align-items-center">Operations <i class="bi bi-arrow-up-right ms-2"></i></div>
                                            </div>
                                        </a>

                                        <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "Sales and Distribution Management" })">
                                            <div class="item d-flex align-items-center">
                                                <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                    <img src="~/assets/img/case-study/DBM.png" alt="Sales and Distribution Management" class="img-fluid rounded" width="30" height="30" loading="lazy">
                                                </div>
                                                <div class="d-flex align-items-center">Sales and Distribution Management <i class="bi bi-arrow-up-right ms-2"></i></div>
                                            </div>
                                        </a>

                                        <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "Services Marketing" })">
                                            <div class="item d-flex align-items-center">
                                                <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                    <img src="~/assets/img/case-study/SVM.png" alt="Services Marketing" class="img-fluid rounded" width="30" height="30" loading="lazy">
                                                </div>
                                                <div class="d-flex align-items-center">Services Marketing <i class="bi bi-arrow-up-right ms-2"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="ListCases" data-aos="fade-up">
    <div class="container">
        <div class="bg4 p-4 rounded-4">
            <div class="row">
                <div class=" col-12">
                    <a name="multimedia"> <h3>Multimedia Cases</h3></a>

                    <p class="text-justify">
                        These are case studies with substantial multimedia content. In addition to the printable version of the case study,
                        these include one or more CDs with video clips of the case study protagonists in action, or being interviewed by the case
                        developers. We believe that the multimedia content provides a greater immediacy to the subject matter of the case, and promotes
                        greater involvement in the case study on the part of the learner.
                    </p>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-xl-12 col-lg-12 col-12">
                            <div class="bg-white rounded-4 p-3">
                                <div class="wraper">
                                    <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "Multimedia Case Studies" })" target="_blank">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/MM.png" alt="Multimedia Case Studies" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Multimedia Case Studies  <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@*<section class="ListCases" data-aos="fade-up">
    <div class="container">
        <div class="bg2 p-4 rounded-4">
            <div class="row">
                <div class=" col-12">
                    <a name="case"><h3>Case Volumes</h3></a>

                    <p>
                        Our case studies are usually between 10 and 20 pages long, and are written
                        from an industry or
                        These contain collections of selected case studies.
                    </p>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-xl-12 col-lg-12 col-12">
                            <div class="bg-white rounded-4 p-3">
                                <div class="wraper">

                                    <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "Case Study Volumes" })" target="_blank">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/CV.png" alt="Case Study Volumes" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Case Study Volumes  <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@


@*<section class="ListCases" data-aos="fade-up">
    <div class="container">
        <div class="bg4 p-4 rounded-4">
            <div class="row">
                <div class=" col-12">
                    <a name="multimedia"> <h3>Multimedia Cases</h3></a>

                    <p class="text-justify">
                        These are case studies with substantial multimedia content. In addition to the printable version of the case study,
                        these include one or more CDs with video clips of the case study protagonists in action, or being interviewed by the case
                        developers. We believe that the multimedia content provides a greater immediacy to the subject matter of the case, and promotes
                        greater involvement in the case study on the part of the learner.
                    </p>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-xl-12 col-lg-12 col-12">
                            <div class="bg-white rounded-4 p-3">
                                <div class="wraper">
                                    <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "Multimedia Case Studies" })" target="_blank">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/MM.png" alt="Multimedia Case Studies" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Multimedia Case Studies  <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@

<section class="ListCases" data-aos="fade-up">
    <div class="container">
        <div class="bg5 p-4 rounded-4">
            <div class="row">
                <div class="col-12">
                    <a name="other"><h3>Cases in Other Languages</h3></a>

                    <p>Some of our case studies have been translated into languages such as Spanish, French, Portuguese and Russian, German, French, and Chinese.</p>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-xl-12 col-lg-12 col-12">
                            <div class="bg-white rounded-4 p-3">
                                <div class="wraper">
                                    <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "Cases in Other Languages" })" target="_blank">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/OG.png" alt="Cases in Other Languages" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Cases in Other Languages  <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="ListCases" data-aos="fade-up">
    <div class="container">
        <div class="bg6 p-4 rounded-4">
            <div class="row">
                <div class=" col-12">
                    <h3>Free Cases</h3>
                    <p>
                        ICMR regularly updates the list of free cases. The provided cases are read only. To get the PDF version, you need to purchase the case study.
                        To view more free cases, please visit our site at frequent intervals.
                    </p>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-xl-12 col-lg-12 col-12">
                            <div class="bg-white rounded-4 p-3">
                                <div class="wraper">

                                    <a class="text-dark text-wrapper" href="@Url.Action("ShortCases", "Home", new { category = "Free Case Studies" })" target="_blank">
                                        <div class="item d-flex align-items-center">
                                            <div class="bg-body-secondary rounded-2 p-2 me-2">
                                                <img src="~/assets/img/case-study/FC.png" alt="Free Case Studies" class="img-fluid rounded" width="30" height="30" loading="lazy" />
                                            </div>
                                            <div class="d-flex  align-items-center">Free Case Studies  <i class="bi bi-arrow-up-right ms-2"></i></div>
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    $(document).on("click", ".category-link", function (e) {
        e.preventDefault();
        var category = $(this).data("category");

        $.ajax({
            url: "/Home/ShortCases",
            type: "GET",
            data: { category: category },
            success: function (response) {
                $("#caseStudiesTable").html(response);
                $("#categoryHeading").text(category + " Case Studies");
            },
        });
    });

</script>