@model IEnumerable<ICMR.Models.AvaCas>

@{
    ViewBag.Title = "All Case Studies";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container mt-5">
    <h3 class="mb-4">Case Studies</h3>

    <div class=" mb-3">
        <a href="@Url.Action("AddFullCaseStudies", "Admin")" class="btn btn-danger ">Add New Case</a>
    </div>
    <table id="datatablegrid" class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Title</th>
                <th>Industry</th>
                <th>Case Code</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.casetitle</td>
                    <td>@item.industry</td>
                    <td>@item.casecode</td>
                    <td>
                        <a href="@Url.Action("EditCaseStudy", "Admin", new { id = item.Id })" class="btn btn-sm btn-warning">Edit</a>
                        <a href="@Url.Action("DeleteCaseStudy", "Admin", new { id = item.Id })" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure to delete this Case?');">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- jQuery (required) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- DataTables CSS -->
<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />

<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<script>
    
        $('#datatablegrid').DataTable({
            paging: true,
            searching: true,
            ordering: false,
            info: true,
            autoWidth: false
        });
   
</script>
